body {
    font-family: Arial, sans-serif;
    background-color: blue;
    margin: 0;
    padding: 20px;
}
div {
    background-color: orange;
    padding: 50px;
    width: 500px;
    margin: auto;

    border: 5px solid black;
    border-radius: 5px;
    
}
.medio {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}